<H1>Personajes de Harry Potter</H1>
<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Casas de Hogwarts</mat-label>
  <mat-select>
    <mat-option *ngFor="let casa of casas" [value]="casa.value">
      {{casa.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="wrapper">
  <div class="gallery">
    <div class="item" *ngFor="let item of data">
      <h1>{{item.name}}</h1>
      <p>{{item.patronus}}</p>
      <p>{{item.yearOfBirth}}</p>
      <p>{{item.house}}</p>
      <div class="imgs">
        <img [src]="item.image" alt="" >
      </div>
    </div>
    
  </div>
</div>
